<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Sing up</title>
	<link rel = "stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"  />
</head>
<body>
	<div class="container"  align="center">
	
		<div>
			<h1>Welcome do sing up form</h1>
		</div>
		<form th:action = "@{/process_register}" method="post" 
		style="max-width:600px; margin: 0 auto;"
		th:object="${user}" >
		<div class="m-3">
			<div class=" form-group-row">
				<label class="col-form-label col-4">E-mail</label>
				<div class="col-8">
					<input type ="email" class="form-control" th:field="*{email}" placeholder="E-mail" required/>
				</div>
			</div>
			<div class=" form-group-row">
				<label class="col-form-label col-4">Password</label>
				<div class="col-8">
					<input type ="password" class="form-control" th:field="*{password}" placeholder="Password" required minlength="6" maxlength="10"/>
				</div>
			</div>
			<div class=" form-group-row">
				<label class="col-form-label col-4">First name</label>
				<div class="col-8">
					<input type ="text" class="form-control" th:field="*{firstName}" placeholder="First name" required minlength="2" maxlength="20"/>
				</div>
			</div>
			<div class=" form-group-row">
				<label class="col-form-label col-4">LastName</label>
				<div class="col-8">
					<input type ="text" class="form-control" th:field="*{lastName}" placeholder="Last name" required minlength="2" maxlength="20"/>
				</div>
			</div>
			<div>
			<label class="col-form-label col-4"></label>
				<button type="submit" class="btn btn-primary btn-block col-8">Sing up</button>
			</div>
		</div>
		
		</form>
		
		<div>
		<h6><a th:href = "@{/login}">You already have an account?</a></h6>
		</div>
	</div>
	
</body>
</html>